
MONGO_DB = {NAME_DB}
MONGO_HOST = {MONGO_HOST}
MONGO_PORT = {MONGO_PORT} 

BACKEND_HOST = {BACKEND_HOST}
BACKEND_PORT = {BACKEND_PORT}

FRONTEND_PORT = {FRONTEND_PORT}

ESP_BASE_URL = http://{ESP_IP}:{ESP_PORT}
ESP_TIMEOUT_MS = {ESP_TIMEOUT_MS}

JWT_SECRET = {JWT_SECRET}
JWT_EXPIRES_IN = {JWT_EXPIRES_IN}
BCRYPT_SALT_ROUNDS = {BCRYPT_SALT_ROUNDS}